@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                  <div class="form-group">
                    <label for="loginInput">Username</label>
                    <input type="text" class="form-control" id="loginInput" placeholder="Input username">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Input password">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div id="resultMessage" class="mt-3"></div> <!-- Это место для вывода сообщений -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("form").submit(function (e) {
            e.preventDefault(); // Отменить стандартное поведение отправки формы
            
            var login = $("#loginInput").val();
            var password = $("#passwordInput").val();

            // Создание XML-запроса для веб-службы
            var soapRequest = '<?xml version="1.0" encoding="utf-8"?>' +
                '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" ' +
                'xmlns:web="http://www.icutech.com/">' +
                '<soapenv:Header/>' +
                '<soapenv:Body>' +
                '<web:Login>' +
                '<web:username>' + login + '</web:username>' +
                '<web:password>' + password + '</web:password>' +
                '</web:Login>' +
                '</soapenv:Body>' +
                '</soapenv:Envelope>';

            $.ajax({
                url: "http://isapi.icu-tech.com/icutech-test.dll",
                type: "POST",
                dataType: "xml",
                data: soapRequest,
                contentType: "text/xml; charset=\"utf-8\"",
                success: function (xml) {
                    // Обработка успешного входа
                    var successMessage = "Entry successfully completed. Information about the object:" + xml;
                    $("#resultMessage").removeClass("text-danger").addClass("text-success").html(successMessage);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Обработка ошибки входа
                    var errorMessage = "Login Error: " + xhr.responseText;
                    $("#resultMessage").removeClass("text-success").addClass("text-danger").html(errorMessage);
                }
            });
        });
    });
</script>
